src/main/resources/paises.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/" targetNamespace="http://localhost:8081/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://localhost:8081/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081/ws">

    <!--metodos-->
    <xs:element name="obtenerPaisRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="obtenerPaisResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pais" type="tns:pais"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Objetos(clases): -->
    <xs:complexType name="pais">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="capital" type="xs:string"/>
            <xs:element name="moneda" type="tns:moneda"/>
            <xs:element name="poblacion" type="xs:int"/>
            <xs:element name="bandera" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="moneda">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARS"/>
            <xs:enumeration value="COP"/>
            <xs:enumeration value="DOL"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPaisRequest">
    <wsdl:part element="sch:obtenerPaisRequest" name="obtenerPaisRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPaisResponse">
    <wsdl:part element="sch:obtenerPaisResponse" name="obtenerPaisResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaisesPort">
    <wsdl:operation name="obtenerPais">
      <wsdl:input message="tns:obtenerPaisRequest" name="obtenerPaisRequest">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPaisResponse" name="obtenerPaisResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaisesPortSoap11" type="tns:PaisesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerPais">
      <soap:operation soapAction=""/>
      <wsdl:input name="obtenerPaisRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPaisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaisesPortService">
    <wsdl:port binding="tns:PaisesPortSoap11" name="PaisesPortSoap11">
      <soap:address location="/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>